In [49]:
import pandas as pd
import matplotlib.pylab as plt
import numpy as np

In [50]:
url = "fac.csv"
df = pd.read_csv(url, header = None)

In [54]:
headers = ["numero_cliente","fecha_inspeccion","comuna","distrito","actividad","actividad_descripcion","categoria", "giro_suministro","tarifa","clave_tarifa","latitud","longitud","tipo_causal","inf_disponible","sucursal","fecha_inicio","fecha_fin","fecha_creacion","meses","f1","f2","f3","f4","f5","f6","f7","f8","f9","f10","f11","f12","f13","f14","f15","f16","f17","f18","f19","f20","f21","f22","f23","f24"
          ,"d1","d2","d3","d4","d5","d6","d7","d8","d9","d10","d11","d12","d13","d14","d15","d16","d17","d18","d19","d20","d21","d22","d23","d24"
          ,"c1","c2","c3","c4","c5","c6","c7","c8","c9","c10","c11","c12","c13","c14","c15","c16","c17","c18","c19","c20","c21","c22","c23","c24"]
df.columns = headers
df.head(10)


df.dropna(subset=["comuna"], axis=0, inplace=True)

missing_data = df.isnull()
missing_data.head(5)

moda_actividad = df["actividad"].mode()[0]
df["actividad"].replace(0, moda_actividad, inplace=True)

moda_actividad_desc = df["actividad_descripcion"].mode()[0]
df["actividad_descripcion"].replace("", moda_actividad_desc, inplace=True)

for column in missing_data.columns.values.tolist():
     print (missing_data[column].value_counts())
     print("")
#df.head(10)
df.to_csv("input.csv",mode = 'w', index=False)
print("Listo!")

False    2956
Name: numero_cliente, dtype: int64

False    2956
Name: fecha_inspeccion, dtype: int64

False    2956
Name: comuna, dtype: int64

False    2956
Name: distrito, dtype: int64

False    2956
Name: actividad, dtype: int64

False    2956
Name: actividad_descripcion, dtype: int64

False    2956
Name: categoria, dtype: int64

False    2956
Name: giro_suministro, dtype: int64

False    2956
Name: tarifa, dtype: int64

False    2956
Name: clave_tarifa, dtype: int64

False    2956
Name: latitud, dtype: int64

False    2956
Name: longitud, dtype: int64

False    2956
Name: tipo_causal, dtype: int64

False    2956
Name: inf_disponible, dtype: int64

False    2956
Name: sucursal, dtype: int64

False    2956
Name: fecha_inicio, dtype: int64

False    2956
Name: fecha_fin, dtype: int64

False    2956
Name: fecha_creacion, dtype: int64

False    2956
Name: meses, dtype: int64

False    2891
True       65
Name: f1, dtype: int64

False    2894
True       62
Name: f2, dtype: int64

False    2896
True       60
Name: f3, dtype: int64

False    2903
True       53
Name: f4, dtype: int64

False    2907
True       49
Name: f5, dtype: int64

False    2909
True       47
Name: f6, dtype: int64

False    2911
True       45
Name: f7, dtype: int64

False    2915
True       41
Name: f8, dtype: int64

False    2919
True       37
Name: f9, dtype: int64

False    2923
True       33
Name: f10, dtype: int64

False    2928
True       28
Name: f11, dtype: int64

False    2933
True       23
Name: f12, dtype: int64

False    2935
True       21
Name: f13, dtype: int64

False    2939
True       17
Name: f14, dtype: int64

False    2940
True       16
Name: f15, dtype: int64

False    2943
True       13
Name: f16, dtype: int64

False    2944
True       12
Name: f17, dtype: int64

False    2945
True       11
Name: f18, dtype: int64

False    2946
True       10
Name: f19, dtype: int64

False    2949
True        7
Name: f20, dtype: int64

False    2953
True        3
Name: f21, dtype: int64

False    2955
True        1
Name: f22, dtype: int64

False    2955
True        1
Name: f23, dtype: int64

False    2956
Name: f24, dtype: int64

False    2891
True       65
Name: d1, dtype: int64

False    2894
True       62
Name: d2, dtype: int64

False    2896
True       60
Name: d3, dtype: int64

False    2903
True       53
Name: d4, dtype: int64

False    2907
True       49
Name: d5, dtype: int64

False    2909
True       47
Name: d6, dtype: int64

False    2911
True       45
Name: d7, dtype: int64

False    2915
True       41
Name: d8, dtype: int64

False    2919
True       37
Name: d9, dtype: int64

False    2923
True       33
Name: d10, dtype: int64

False    2928
True       28
Name: d11, dtype: int64

False    2933
True       23
Name: d12, dtype: int64

False    2935
True       21
Name: d13, dtype: int64

False    2939
True       17
Name: d14, dtype: int64

False    2940
True       16
Name: d15, dtype: int64

False    2943
True       13
Name: d16, dtype: int64

False    2944
True       12
Name: d17, dtype: int64

False    2945
True       11
Name: d18, dtype: int64

False    2946
True       10
Name: d19, dtype: int64

False    2949
True        7
Name: d20, dtype: int64

False    2953
True        3
Name: d21, dtype: int64

False    2955
True        1
Name: d22, dtype: int64

False    2955
True        1
Name: d23, dtype: int64

False    2956
Name: d24, dtype: int64

False    2891
True       65
Name: c1, dtype: int64

False    2894
True       62
Name: c2, dtype: int64

False    2896
True       60
Name: c3, dtype: int64

False    2903
True       53
Name: c4, dtype: int64

False    2907
True       49
Name: c5, dtype: int64

False    2909
True       47
Name: c6, dtype: int64

False    2911
True       45
Name: c7, dtype: int64

False    2915
True       41
Name: c8, dtype: int64

False    2919
True       37
Name: c9, dtype: int64

False    2923
True       33
Name: c10, dtype: int64

False    2928
True       28
Name: c11, dtype: int64

False    2933
True       23
Name: c12, dtype: int64

False    2935
True       21
Name: c13, dtype: int64

False    2939
True       17
Name: c14, dtype: int64

False    2940
True       16
Name: c15, dtype: int64

False    2943
True       13
Name: c16, dtype: int64

False    2944
True       12
Name: c17, dtype: int64

False    2945
True       11
Name: c18, dtype: int64

False    2946
True       10
Name: c19, dtype: int64

False    2949
True        7
Name: c20, dtype: int64

False    2953
True        3
Name: c21, dtype: int64

False    2955
True        1
Name: c22, dtype: int64

False    2955
True        1
Name: c23, dtype: int64

False    2956
Name: c24, dtype: int64

Listo!